@using YummyApp.Models
@model Recipe
@{
    ViewBag.Title = "AddNewRecipe";
}

<h2>Add New Recipe</h2>
@using (Html.BeginForm("CreateRecipe", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col">
            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    <br />
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    <br />
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Content, new { id = "content_textarea", htmlAttributes = new { @class = "form-control" } })
                    <br />
                    <input type="button" class="btn btn-secondary btn-sm my-2" id="render_content" value="Render content" />

                    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })

                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.PreparationTime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PreparationTime, new { htmlAttributes = new { @class = "form-control" } })
                    <br />
                    @Html.ValidationMessageFor(model => model.PreparationTime, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Servings, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Servings, new { htmlAttributes = new { @class = "form-control" } })
                    <br />
                    @Html.ValidationMessageFor(model => model.Servings, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.IsPublic, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IsPublic, new { htmlAttributes = new { @class = "form-control" } })
                    <br />
                    @Html.ValidationMessageFor(model => model.IsPublic, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.HiddenFor(model => model.Posted)
            @Html.HiddenFor(model => model.Reviews)
            @Html.AntiForgeryToken()

            <!--<div class="form-horizontal">
        <hr />
        //Html.ValidationSummary(true, "", new { class = "text-danger" })
        <div class="form-group">
            //Html.LabelFor(model => model.file, htmlAttributes: new { class = "control-label col-md-2" })
            <div class="col-md-10">
                //Html.EditorFor(model => model.file, new { htmlAttributes = new { class = "form-control", type = "file" } })
               // Html.ValidationMessageFor(model => model.file, "", new { class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" class="btn btn-primary" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 text-success">
               // ViewBag.FileStatus
            </div>
        </div>
    </div>-->
            <button type="submit" class="btn btn-secondary">Create Recipe</button>
        </div>
        <div class="col">
            <h3>Content preview</h3>
            <hr />
            <div id="content_preview">

            </div>
        </div>
    </div>
}

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#render_content").on("click", function () {
                var rendering_div_val = document.getElementById("content_textarea").value;
                var previewing_div = document.getElementById("content_preview");
                previewing_div.innerHTML = rendering_div_val;

            })
        })
    </script>
}