@using YummyApp.Models
@model IEnumerable<Recipe>
@{
    ViewBag.Title = "ListRecipes";
}

<h2>List of All Recipes</h2>

@*<button class="btn btn-success my-3">Add new recipe</button>*@
@Html.ActionLink("Add new recipe", "AddNewRecipe", new { }, new { @class = "btn btn-success my-3" })
<table id="recipes" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Rating</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Recipe r in Model)
        {
            @*<div>@r.Title</div>
                if (r.Reviews != null)
                {
                    <div>Non null</div>
                    foreach (Review review in r.Reviews)
                    {
                        <div>review.Content</div>
                    }
                }
                else
                {
                    <div>Null</div>
                }*@
            <tr>
                <td scope="row">@r.Id</td>
                <td>@r.Title</td>
                @if (r.Description.Length > 50)
                {
                    <td>@r.Description.Substring(0, 50) ...</td>
                }
                else
                {
                    <td>@r.Description</td>
                }
                <td>@r.Average()</td>
                <td>
                    @Html.ActionLink("Details", "RecipeView", "Recipe", new { Id = r.Id }, new { @class = "btn btn-info m-1" })
                    @Html.ActionLink("Edit", "RecipeEdit", "Recipe", new { Id = r.Id }, new { @class = "btn btn-secondary m-1" })
                    @*@Html.ActionLink("Delete", "RecipeDelete", "Recipe", new { Id = r.Id }, new { @class = "btn btn-danger m-1 js-delete", @id=r.Id})*@
                    <button class = "btn btn-danger m-1 js-delete" recipe-id="@r.Id">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    

    <script>
        $(document).ready(function () {
            var table = $("#recipes").DataTable();
            $("#recipes tbody").on("click", ".js-delete",function () {
                var button = $(this);
                bootbox.confirm("Do you want to delete this recipe?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/Recipe/DeleteRecipe/" + button.attr("recipe-id"),
                            method: "POST",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>

}