@using YummyApp.Models
@model RecipeViewModel
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@{
    ViewBag.Title = "Yummy Recipes";
}
<link href="~/Content/page_style.css" rel="stylesheet" />
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner mb-3">
        <div class="carousel-item active">
            <div class="container-overlay" style="max-height: 600px;overflow: hidden">
                <a href="@Url.Action("RecipeView", new { Id = Model.RecipeOfTheDay.Id })">
                    <img src="@Model.RecipeOfTheDay.file" class="d-block w-100 image-home" alt="...">
                </a>
                <div class="overlay">

                    <div class="white-text text container ">
                        <div class="row justify-content-center ">
                            <h3 class="col-6 text-center text-wrap " style="font-size:1.5vw;">Recipe of the day</h3>
                        </div>
                        <div class="row justify-content-center">
                            <p class="col-6 text-center text-wrap" style="font-size:1vw;">Our daily suggestion</p>
                        </div>
                        <hr />
                        <div class="row justify-content-center">
                            <h4 class="col text-center text-wrap " style="font-size:1.2vw;">@Model.RecipeOfTheDay.Title</h4>
                        </div>
                        <div class="row justify-content-center mb-3">
                            <h5 class="col text-center text-wrap " style="max-width:50%;font-size:1vw;">@Model.RecipeOfTheDay.Description</h5>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container-overlay" style="max-height: 600px;overflow: hidden">
                <a href="@Url.Action("RecipeView", new { Id = Model.LatestRecipe.Id })">
                    <img src="@Model.LatestRecipe.file" class="d-block w-100 image-home" alt="...">
                </a>
                <div class="overlay">

                    <div class="white-text text container ">
                        <div class="row justify-content-center">
                            <h3 class="col-6 text-center text-wrap" style="font-size:1.5vw;">Fresh Content!</h3>
                        </div>
                        <div class="row justify-content-center">
                            <p class="col-6 text-center text-wrap" style="font-size:1vw;">Check out the latest recipe carefully prepared by us.</p>
                        </div>
                        <hr />
                        <div class="row justify-content-center">
                            <h4 class="col text-center text-wrap " style="max-width:50%;font-size:1.2vw;">@Model.LatestRecipe.Title</h4>
                        </div>
                        <div class="row justify-content-center mb-3">
                            <h5 class="col text-center text-wrap " style="max-width: 50%; font-size: 1vw;">@Model.LatestRecipe.Description</h5>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container-overlay" style="max-height: 600px;overflow:hidden">
                <a href="@Url.Action("RecipeView", new { Id = Model.HighestRatingRecipe.Id })">
                    <img src="@Model.HighestRatingRecipe.file" class="d-block w-100 image-home" alt="...">
                </a>
                <div class="overlay">


                    <div class="white-text text container ">
                        <div class="row justify-content-center">
                            <h3 class="col-6 text-center text-wrap" style="font-size:1.5vw;">Our superstar!</h3>
                        </div>
                        <div class="row justify-content-center">
                            <p class="col-6 text-center text-wrap" style="font-size:1vw;">See what you loved the most of our work.</p>
                        </div>
                        <hr />
                        <div class="row justify-content-center">
                            <h4 class="col text-center text-wrap " style="font-size:1.2vw;">@Model.HighestRatingRecipe.Title</h4>
                        </div>
                        <div class="row justify-content-center mb-3">
                            <h5 class="col text-center text-wrap " style="max-width:50%;font-size:1vw;">@Model.HighestRatingRecipe.Description</h5>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </button>
</div>
<h2 class="my-5">Latest recipes</h2>
<div class="row row-cols-2 row-cols-md-3">
    <!--<div class="card-columns">-->

    @foreach (Recipe r in Model.Recipes)
    {
        if (r.IsPublic)
        {
            <div class="col mb-4 ">

                <div class="card h-100" style="/*width: 18rem;*/">
                    <div style="height:250px;overflow:hidden">
                        <img src="@r.file" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h3>@r.Title</h3>
                        <p class="card-text">@r.Description</p>
                        <h6>Rating: @r.Average() <span class="fa fa-star" style="color: orange;"></span> </h6>

                    </div>
                    <div class="row justify-content-center">
                        <div class="col-6 my-3">
                            @Html.ActionLink("Show Recipe", "RecipeView", new { id = r.Id }, new { @class = "btn btn-success w-100" })
                        </div>
                    </div>
                </div>

            </div>
        }
    }
        
</div>

<hr />
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="container">
                    <h4 class="my-4 text-center w-100 text-secondary">Want to know your favourite food's nutritional value?</h4>
                    <div class="row justify-content-center w-100 my-4">
                        <input type="text" id="food-input" class="form-control" />
                    </div>
                    <div class="row justify-content-center w-100">
                        <input type="button" id="find-nutrition" value="Find out" class="btn btn-outline-success" />
                    </div>
                </div>

                <div id="result" class="col text-center my-4">
                    <ul class="list-group list-group-flush">

                    </ul>
                </div>
            </div>
        </div>
    </div>
@{
    //   Html.ActionLink("Show All Recipes", "RecipeView", new { id = 0 }, new { @class = "btn btn-light w-100 col-2" })
}

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#find-nutrition").on("click", function () { 
                var query = $("#food-input").val();
                console.log(query);
                if (query != "") {
                    $.ajax({
                        method: 'GET',
                        url: 'https://api.api-ninjas.com/v1/nutrition?query=' + query,
                        headers: { 'X-Api-Key': 'lCeHMretqiLKF3cMaiWMvQ==ZpD0g6FyHvv0yJnd' },
                        contentType: 'application/json',
                        success: function (result) {
                            var map_key = {
                                "name": "You searched for",
                                "calories": "Calories",
                                "serving_size_g": "Information for serving size (in grams)",
                                "fat_total_g": "Fat (in grams)",
                                "fat_saturated_g": "Saturated fat (in grams)",
                                "protein_g": "Protein (in grams)",
                                "sodium_mg": "Sodium (in mg)",
                                "potassium_mg": "Potassium (in mg)",
                                "cholesterol_mg": "Cholesterol (in mg)",
                                "carbohydrates_total_g": "Total carbohydrates (in grams)",
                                "fiber_g": "Fiber (in grams)",
                                "sugar_g": "Sugar (in grams)"
                            };
                            console.log(result);
                            var content = "Couldn't find entry. Please enter valid data."
                            if (result.length != 0) {
                                content = ""
                                for (var element in result) {
                                    //var flag = true
                                    for (var key in result[element]) {
                                        if (key=="name") {
                                            content += `<li class="list-group-item list-group-item-success">${map_key[key]}: ${result[element][key]}</li>`
                                            //flag=false
                                        }
                                        else {
                                            content += `<li class="list-group-item">${map_key[key]}: ${result[element][key]}</li>`
                                        }
                                    }
                                }
                            }

                            $("#result").html(content);
                            window.scrollTo({ top: document.body.scrollHeight, behavior: 'smooth' });
                        },
                        error: function ajaxError(jqXHR) {
                            console.error('Error: ', jqXHR.responseText);
                            $("#result").html("Error while making request. Please try again later.");
                            window.scrollTo({ top: document.body.scrollHeight, behavior: 'smooth' });
                        }
                    });
                }
                else {
                    $("#result").html("Couldn't find entry. Please enter valid data.");
                }
               

            })
        })
       
    </script>
}