@using YummyApp.Models
@using Microsoft.AspNet.Identity.Owin;
@using Microsoft.AspNet.Identity;
@model NewRecipeViewModel
@{
    ViewBag.Title = Model.Recipe.Title;
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="~/Content/stars.css" rel="stylesheet" />
<div class="container">
    <div class="row my-5">
        <div class="col">
            
            <h1>@Model.Recipe.Title</h1>

            @Html.DisplayFor(model => model.Recipe.Description)
            <br /><br />
            <div>
                Preparation time:
                @Html.DisplayFor(model => model.Recipe.PreparationTime) |
                Servings:
                @Html.DisplayFor(model => model.Recipe.Servings)
            </div>
            <br />
            <h3>Preparation:</h3>
            @Html.Raw(HttpUtility.HtmlDecode(Model.Recipe.Content))

            <br />
            <br />

            <i>Author: @Model.Recipe.Author</i>
            @Html.HiddenFor(model => model.Recipe.Id);
        </div>
        <div class="col">
           <div class="row">
               <img width="500px" src="@Model.Recipe.file" />
           </div> 
           <div class="row">
               @if (!User.Identity.IsAuthenticated || !Model.isSaved)
               {
                   @Html.ActionLink("Save this recipe", "SaveRecipe", new { recipeId = Model.Recipe.Id }, new { @class = "btn btn-success my-4 mx-2" });

               }
               else
               {
                   <h4 class="my-4">You already saved this recipe!</h4>

               }
               @if ((User.Identity.GetUserName().Equals(Model.Recipe.Author) && User.IsInRole("Editor")) || User.IsInRole("Admin"))
               {
                   @Html.ActionLink("Edit", "RecipeEdit", "Recipe", new { Id = Model.Recipe.Id }, new { @class = "btn btn-secondary my-4 mx-2" })
                   @Html.ActionLink("Delete", "RecipeDelete", "Recipe", new { Id = Model.Recipe.Id }, new { @class = "btn btn-danger my-4 mx-2" })
               }
            </div>
           </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="row row-cols-2 row-cols-md-2">
                @{
                    bool myReviewExists = false;
                }
                @if (Model.Recipe.Reviews != null)
                {
                    foreach (Review r in Model.AllReviews)
                    {

                        var user = HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>().FindById(r.UserId).UserName;
                        if (r.UserId.Equals(User.Identity.GetUserId()))
                        {<div class="col mb-4 ">

                                <div class="card h-100" style="width: 18rem;">
                                    <div class="card-body">

                                        @for (int i = 0; i < 5; i++)
                                        {
                                            if (i < r.Rating)
                                            {
                                                <span class="fa fa-star" style="color: orange;"></span>
                                            }
                                            else
                                            {
                                                <span class="fa fa-star"></span>
                                            }
                                        }

                                        <p class="card-text">@r.Content - @user</p>

                                        @{myReviewExists = true;
                                            var rId = r.Id;
                                            }
                                        @using (Html.BeginForm("EditReview", "Recipe", new {reviewId = rId}))
                                        {
                                            <button type="submit" class="btn btn-secondary">Edit Review</button>

                                        }


                                    </div>
                                </div>

                            </div>
                        }
                                            }
                                            foreach (Review r in Model.AllReviews)
                                            {

                                                var user = HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>().FindById(r.UserId).UserName;
                                                if (!r.UserId.Equals(User.Identity.GetUserId()))
                                                {<div class="col mb-4 ">

                                <div class="card h-100" style="width: 18rem;">
                                    <div class="card-body">

                                        @for (int i = 0; i < 5; i++)
                                        {
                                            if (i < r.Rating)
                                            {
                                                <span class="fa fa-star" style="color: orange;"></span>
                                            }
                                            else
                                            {
                                                <span class="fa fa-star"></span>
                                            }
                                        }

                                        <p class="card-text">@r.Content - @user</p>

                                        


                                    </div>
                                </div>

                            </div>
                        }
                    }
                }
            </div>
            <br />
            <hr />
            <div class="row">

                <div class="col">
                    
                    @if (User.Identity.IsAuthenticated && !myReviewExists)
                    {
                        using (Html.BeginForm("CreateReview", "Recipe"))
                        {
                            @Html.HiddenFor(model => model.Recipe.Id);

                      
                    <div class="form-group row justify-content-center">
                        <div class="col">
                            <div class="row justify-content-center">
                                <label for="review">
                                    <h4>Your review:</h4>
                                </label>
                            @*</div>

                            <br />
                            <div class="row justify-content-center">*@
                                <div class="wrapper">
                                    @Html.RadioButtonFor(model => model.NewReview.Rating, 5, new { name = "ratingRadio", type = "radio", id = "st1", value = "5" })
                                    <label for="st1"></label>
                                    @Html.RadioButtonFor(model => model.NewReview.Rating, 4, new { name = "ratingRadio", type = "radio", id = "st2", value = "4" })
                                    <label for="st2"></label>
                                    @Html.RadioButtonFor(model => model.NewReview.Rating, 3, new { name = "ratingRadio", type = "radio", id = "st3", value = "3" })
                                    <label for="st3"></label>
                                    @Html.RadioButtonFor(model => model.NewReview.Rating, 2, new { name = "ratingRadio", type = "radio", id = "st4", value = "2" })
                                    <label for="st4"></label>
                                    @Html.RadioButtonFor(model => model.NewReview.Rating, 1, new { name = "ratingRadio", type = "radio", id = "st5", value = "1" })
                                    <label for="st5"></label>

                                    <!--<input name="ratingRadio" type="radio" id="st1" value="1" />
        <label for="st1"></label>
        <input name="ratingRadio" type="radio" id="st2" value="2" />
        <label for="st2"></label>
        <input name="ratingRadio" type="radio" id="st3" value="3" />
        <label for="st3"></label>
        <input name="ratingRadio" type="radio" id="st4" value="4" />
        <label for="st4"></label>
        <input name="ratingRadio" type="radio" id="st5" value="5" />-->
                                </div>
                            </div>
                                <div class="row justify-content-center">
                                   
                                    @Html.TextAreaFor(model => model.NewReview.Content, new { @class = "form-control", @style = "resize: both;width:100 %;min-height:200px!important;max-width: 500px;margin-right: 0;max-height: 900px;" })
                                    <input value="2" id="RecipeRating" name="RecipeRating" type="hidden">
                                </div>

                                <div class="row justify-content-center">
                                    <div class="form-group">
                                        <button type="submit" value="CreateReview" class="btn btn-outline-success my-3"> Add review</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                        }
                        else if(!User.Identity.IsAuthenticated)
                        {
                        <div class="text-center">Please @Html.ActionLink("log in", "LogIn", "Account") to leave a review</div>
                        }
                    </div>
            </div>

        </div>
    </div>
    <hr />
    <div class="row">
        <h3 class="text-center my-5 w-100 text-secondary">Other @Model.Recipe.Type.ToString().ToLower() recipes:</h3>

        <div class="col">
            <div class="row">
                @foreach (Recipe r in Model.Recommendations)
                {
                    if (r.IsPublic)
                    {
                        <div class="col mb-4 ">

                            <div class="card h-100" style="/*width: 18rem;*/">
                                <div style="height:250px;overflow:hidden">
                                    <img src="@r.file" class="card-img-top" alt="...">
                                </div>
                                <div class="card-body">
                                    <h3>@r.Title</h3>
                                    <p class="card-text">@r.Description</p>
                                    <h6>Rating: @r.Average() <span class="fa fa-star" style="color: orange;"></span> </h6>

                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-6 my-3">
                                        @Html.ActionLink("Show Recipe", "RecipeView", new { id = r.Id }, new { @class = "btn btn-success w-100" })
                                    </div>
                                </div>
                            </div>

                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

