@using Microsoft.AspNet.Identity
<link href="~/Content/Site.css" rel="stylesheet" />
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
<ul class="nav">
    <li style="text-decoration:none" class="nav-item">
        <div style="display:flex;flex-direction:row;align-items:center" class="">
            <a href="@Url.Action("ShoppingList","Account")" id="shoppingListLink" class="nav-link">
                Shopping List
                <img src="~/Images/shopping-cart.jpg" width="20px" height="20px">
            </a>
            
        </div>
    </li>
    
        <li style="text-decoration:none" class="nav-item nav-tab">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
        <li style="text-decoration:none" class="nav-item nav-tab">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
</ul>
    @*< ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
            </li>
        </ul>*@
}
