@using Microsoft.AspNet.Identity
<link href="~/Content/Site.css" rel="stylesheet" />
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

<ul class="nav">
    <li style="text-decoration:none" class="nav-item">
        <div style="display:flex;flex-direction:row;align-items:center" class="">
            <a href="@Url.Action("ShoppingList","Account")" id="shoppingListLink" class="nav-link tab-nav">
                Shopping List
                <img src="~/Images/shopping-cart.png" width="20px" height="20px">
            </a>|
        </div>
    </li>
    <li class="nav-item dropdown nav-tab">
        <a class="nav-link dropdown-toggle tab-nav" id="accountLink" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Account</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Saved recipes</a>
            <a class="dropdown-item" href="#">My ratings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Account settings</a>
            @if (User.IsInRole("Admin") || User.IsInRole("Editor"))
            {
                <a class="dropdown-item" href="@Url.Action("SiteSettings","Account")">Site settings</a>
            }
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post,
            new { id = "logoutForm" }))
            {
               
                <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            }
            
        </div>
    </li>
    @*<li style="text-decoration:none" class="nav-item ">@Html.ActionLink("Account", "Account", "Account", routeValues: null, htmlAttributes: new { id = "accountLink", @class = "nav-link tab-nav" })</li>
        @*<li style="text-decoration:none" class="nav-item nav-tab"><a class="nav-link tab-nav" href="javascript:document.getElementById('logoutForm').submit()" id="logOffLink">Log off</a></li>*@

</ul>
            }
        }
        else
        {
        <ul class="nav">
            @*<li style="text-decoration:none" class="nav-item">
                    <div style="display:flex;flex-direction:row;align-items:center" class="">
                        <a href="@Url.Action("ShoppingList","Account")" id="shoppingListLink" class="nav-link tab-nav">
                            Shopping List
                            <img src="~/Images/shopping-cart.jpg" width="20px" height="20px">
                        </a>

                    </div>
                </li>*@

    <li style="text-decoration:none" class="nav-item nav-tab">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link tab-nav" })</li>
    <li style="text-decoration:none" class="nav-item nav-tab">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link tab-nav" })</li>
</ul>
    @*< ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
            </li>
        </ul>*@
}
